---
import MainHeader from '../components/MainHeader.astro';
import LightbulbAlreadyOn from '../components/LightbulbAlreadyOn.astro';

import '../styles/global.css';

const title = 'Bebop Workshop'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<head>
	<title>Bebop Workshop - About</title>
	<meta charset="UTF-8">
	<meta name="description" content="Bebop Workshop - About">
	<meta name="author" content="Henry Boyd">
	<link rel="canonical" href="https://www.bebopworkshop.com/about/">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/public/favicon.svg" type="image/x-icon">
<head/>

<LightbulbAlreadyOn />
<MainHeader />
	<main class="homepage-body">
		<h2 class="about-title">Welcome stranger!</h2>
	
		<p>My name's <a href="https://www.henry-boyd.com/">Henry</a>, I built this website as a home for the various devices, doohickeys, and thingamabobs I have been/will be tinkering with over the years. I like taking things apart to see what makes them tick, playing around with fun or useful or weird gadgets, not to mention letting my imagination run wild when it comes to ideas about what technology the future might hold. So suffice to say the projects you'll see here will be some combination of physical designs, software, and restoration work.
		<br><br>Part of life is about finding your rhythm; Bebop is about tempo, change, and improvisation. Or at least that's the plan? So don't hesitate to reach out if you want to talk shop or anything else!  <a href="https://www.youtube.com/watch?v=YA4P1A3jtu0">I'll play myself out</a></p>
		
		<p><a href="mailto:henry@bebopworkshop.com"><p>henry@bebopworkshop.com</a>
		<br>
		<br>
		Designed & <a href="https://github.com/henry-boyd/Bebop-Workshop-Website">Developed</a> by <a href="https://www.henry-boyd.com">Henry Boyd</a></p>
	</main>

<style>
	p {
		margin: 1rem 0rem;
	}

	body {
		max-width: 1000px;
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}  

	.homepage-body {
		display: grid;
		margin-top: 4rem;
		padding: 2rem 3rem;
		position: relative;
		max-width: 55ch;
		margin-left: auto;
		margin-right: auto;
	}

	.about-title {
		margin-bottom: 1rem;
	}

	@media (max-width: 650px) {
		.homepage-body {
			margin: 2rem;
		}
	}
</style>
