---
import { getCollection, getEntry, render } from 'astro:content';
import ProjectPageLayout from '../layouts/ProjectPageLayout.astro';
import TableOfContents from '../components/TableOfContents.astro';
import type { CollectionKey } from 'astro:content';

interface Props {
    projectName: CollectionKey;
    projectTitle: string;
	featuredImageAltText: string;
}

const projectName = 'severancecomputer'
const projectTitle = "Severance Computer"
const featuredImageAltText = "Lumon Industries Desktop Computer from the TV show Severance"
const collectionName = await getCollection('severancecomputer', ({ data }) => {
  return data.draft == true;
});

---
<head>
	<title>Bebop Workshop - Severance Computer</title>
	<meta charset="UTF-8">
	<meta name="description" content="Bebop Workshop - Severance Computer">
	<meta name="author" content="Henry Boyd">
	<link rel="canonical" href="https://www.bebopworkshop.com/severancecomputer/">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/favicon.svg" type="image/x-icon">
<head/>

<ProjectPageLayout projectName={projectName} projectTitle ={projectTitle} featuredImageAltText={featuredImageAltText}>
</ProjectPageLayout>