---

interface Props {
    positionX: number;
    positionY: number;
    projectTitle: string;
    projectURL: string;
}

const { positionX, positionY, projectTitle, projectURL } = Astro.props

const positionXstr = positionX + "%";
const positionYstr = positionY + "%";

---
<div class="project-area">
        <div class="image-box">
            <a href={projectURL} style="color: black">
            
            <svg class="coming-soon-svg" width="120" height="124" viewBox="0 0 120 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="44.5" width="119" height="79" rx="19.5" fill="white" stroke="black"/>
                    <path d="M32.1591 65H30.0455C29.9205 64.392 29.7017 63.858 29.3892 63.3977C29.0824 62.9375 28.7074 62.5511 28.2642 62.2386C27.8267 61.9205 27.3409 61.6818 26.8068 61.5227C26.2727 61.3636 25.7159 61.2841 25.1364 61.2841C24.0795 61.2841 23.1222 61.5511 22.2642 62.0852C21.4119 62.6193 20.733 63.4062 20.2273 64.446C19.7273 65.4858 19.4773 66.7614 19.4773 68.2727C19.4773 69.7841 19.7273 71.0597 20.2273 72.0994C20.733 73.1392 21.4119 73.9261 22.2642 74.4602C23.1222 74.9943 24.0795 75.2614 25.1364 75.2614C25.7159 75.2614 26.2727 75.1818 26.8068 75.0227C27.3409 74.8636 27.8267 74.6278 28.2642 74.3153C28.7074 73.9972 29.0824 73.608 29.3892 73.1477C29.7017 72.6818 29.9205 72.1477 30.0455 71.5455H32.1591C32 72.4375 31.7102 73.2358 31.2898 73.9403C30.8693 74.6449 30.3466 75.2443 29.7216 75.7386C29.0966 76.2273 28.3949 76.5994 27.6165 76.8551C26.8438 77.1108 26.017 77.2386 25.1364 77.2386C23.6477 77.2386 22.3239 76.875 21.1648 76.1477C20.0057 75.4205 19.0938 74.3864 18.429 73.0455C17.7642 71.7045 17.4318 70.1136 17.4318 68.2727C17.4318 66.4318 17.7642 64.8409 18.429 63.5C19.0938 62.1591 20.0057 61.125 21.1648 60.3977C22.3239 59.6705 23.6477 59.3068 25.1364 59.3068C26.017 59.3068 26.8438 59.4347 27.6165 59.6903C28.3949 59.946 29.0966 60.321 29.7216 60.8153C30.3466 61.304 30.8693 61.9006 31.2898 62.6051C31.7102 63.304 32 64.1023 32.1591 65ZM40.62 77.2727C39.4382 77.2727 38.4013 76.9915 37.5092 76.429C36.6229 75.8665 35.9297 75.0795 35.4297 74.0682C34.9354 73.0568 34.6882 71.875 34.6882 70.5227C34.6882 69.1591 34.9354 67.9687 35.4297 66.9517C35.9297 65.9347 36.6229 65.1449 37.5092 64.5824C38.4013 64.0199 39.4382 63.7386 40.62 63.7386C41.8018 63.7386 42.8359 64.0199 43.7223 64.5824C44.6143 65.1449 45.3075 65.9347 45.8018 66.9517C46.3018 67.9687 46.5518 69.1591 46.5518 70.5227C46.5518 71.875 46.3018 73.0568 45.8018 74.0682C45.3075 75.0795 44.6143 75.8665 43.7223 76.429C42.8359 76.9915 41.8018 77.2727 40.62 77.2727ZM40.62 75.4659C41.5178 75.4659 42.2564 75.2358 42.8359 74.7756C43.4155 74.3153 43.8445 73.7102 44.1229 72.9602C44.4013 72.2102 44.5405 71.3977 44.5405 70.5227C44.5405 69.6477 44.4013 68.8324 44.1229 68.0767C43.8445 67.321 43.4155 66.7102 42.8359 66.2443C42.2564 65.7784 41.5178 65.5455 40.62 65.5455C39.7223 65.5455 38.9837 65.7784 38.4041 66.2443C37.8246 66.7102 37.3956 67.321 37.1172 68.0767C36.8388 68.8324 36.6996 69.6477 36.6996 70.5227C36.6996 71.3977 36.8388 72.2102 37.1172 72.9602C37.3956 73.7102 37.8246 74.3153 38.4041 74.7756C38.9837 75.2358 39.7223 75.4659 40.62 75.4659ZM49.6222 77V63.9091H51.5653V65.9545H51.7358C52.0085 65.2557 52.4489 64.7131 53.0568 64.3267C53.6648 63.9347 54.3949 63.7386 55.2472 63.7386C56.1108 63.7386 56.8295 63.9347 57.4034 64.3267C57.983 64.7131 58.4347 65.2557 58.7585 65.9545H58.8949C59.2301 65.2784 59.733 64.7415 60.4034 64.3438C61.0739 63.9403 61.8778 63.7386 62.8153 63.7386C63.9858 63.7386 64.9432 64.1051 65.6875 64.8381C66.4318 65.5653 66.804 66.6989 66.804 68.2386V77H64.7926V68.2386C64.7926 67.2727 64.5284 66.5824 64 66.1676C63.4716 65.7528 62.8494 65.5455 62.1335 65.5455C61.2131 65.5455 60.5 65.8239 59.9943 66.3807C59.4886 66.9318 59.2358 67.6307 59.2358 68.4773V77H57.1903V68.0341C57.1903 67.2898 56.9489 66.6903 56.4659 66.2358C55.983 65.7756 55.3608 65.5455 54.5994 65.5455C54.0767 65.5455 53.5881 65.6847 53.1335 65.9631C52.6847 66.2415 52.321 66.6278 52.0426 67.1222C51.7699 67.6108 51.6335 68.1761 51.6335 68.8182V77H49.6222ZM70.4815 77V63.9091H72.4929V77H70.4815ZM71.5043 61.7273C71.1122 61.7273 70.7741 61.5938 70.4901 61.3267C70.2116 61.0597 70.0724 60.7386 70.0724 60.3636C70.0724 59.9886 70.2116 59.6676 70.4901 59.4006C70.7741 59.1335 71.1122 59 71.5043 59C71.8963 59 72.2315 59.1335 72.5099 59.4006C72.794 59.6676 72.9361 59.9886 72.9361 60.3636C72.9361 60.7386 72.794 61.0597 72.5099 61.3267C72.2315 61.5938 71.8963 61.7273 71.5043 61.7273ZM78.1882 69.125V77H76.1768V63.9091H78.12V65.9545H78.2905C78.5973 65.2898 79.0632 64.7557 79.6882 64.3523C80.3132 63.9432 81.12 63.7386 82.1087 63.7386C82.995 63.7386 83.7706 63.9205 84.4354 64.2841C85.1001 64.642 85.6172 65.1875 85.9865 65.9205C86.3558 66.6477 86.5405 67.5682 86.5405 68.6818V77H84.5291V68.8182C84.5291 67.7898 84.2621 66.9886 83.728 66.4148C83.1939 65.8352 82.4609 65.5455 81.5291 65.5455C80.8871 65.5455 80.3132 65.6847 79.8075 65.9631C79.3075 66.2415 78.9126 66.6477 78.6229 67.1818C78.3331 67.7159 78.1882 68.3636 78.1882 69.125ZM95.5 82.1818C94.5284 82.1818 93.6932 82.0568 92.9943 81.8068C92.2955 81.5625 91.7131 81.2386 91.2472 80.8352C90.7869 80.4375 90.4205 80.0114 90.1477 79.5568L91.75 78.4318C91.9318 78.6705 92.1619 78.9432 92.4403 79.25C92.7188 79.5625 93.0994 79.8324 93.5824 80.0597C94.071 80.2926 94.7102 80.4091 95.5 80.4091C96.5568 80.4091 97.429 80.1534 98.1165 79.642C98.804 79.1307 99.1477 78.3295 99.1477 77.2386V74.5795H98.9773C98.8295 74.8182 98.6193 75.1136 98.3466 75.4659C98.0795 75.8125 97.6932 76.1222 97.1875 76.3949C96.6875 76.6619 96.0114 76.7955 95.1591 76.7955C94.1023 76.7955 93.1534 76.5455 92.3125 76.0455C91.4773 75.5455 90.8153 74.8182 90.3267 73.8636C89.8438 72.9091 89.6023 71.75 89.6023 70.3864C89.6023 69.0455 89.8381 67.8778 90.3097 66.8835C90.7813 65.8835 91.4375 65.1108 92.2784 64.5653C93.1193 64.0142 94.0909 63.7386 95.1932 63.7386C96.0455 63.7386 96.7216 63.8807 97.2216 64.1648C97.7273 64.4432 98.1136 64.7614 98.3807 65.1193C98.6534 65.4716 98.8636 65.7614 99.0114 65.9886H99.2159V63.9091H101.159V77.375C101.159 78.5 100.903 79.4148 100.392 80.1193C99.8864 80.8295 99.2045 81.3494 98.3466 81.679C97.4943 82.0142 96.5455 82.1818 95.5 82.1818ZM95.4318 74.9886C96.2386 74.9886 96.9205 74.804 97.4773 74.4347C98.0341 74.0653 98.4574 73.5341 98.7472 72.8409C99.0369 72.1477 99.1818 71.3182 99.1818 70.3523C99.1818 69.4091 99.0398 68.5767 98.7557 67.8551C98.4716 67.1335 98.0511 66.5682 97.4943 66.1591C96.9375 65.75 96.25 65.5455 95.4318 65.5455C94.5795 65.5455 93.8693 65.7614 93.3011 66.1932C92.7386 66.625 92.3153 67.2045 92.0312 67.9318C91.7528 68.6591 91.6136 69.4659 91.6136 70.3523C91.6136 71.2614 91.7557 72.0653 92.0398 72.7642C92.3295 73.4574 92.7557 74.0028 93.3182 74.4006C93.8864 74.7926 94.5909 74.9886 95.4318 74.9886ZM38.8271 92.9091C38.7248 92.0455 38.31 91.375 37.5827 90.8977C36.8555 90.4205 35.9634 90.1818 34.9066 90.1818C34.1339 90.1818 33.4577 90.3068 32.8782 90.5568C32.3043 90.8068 31.8555 91.1506 31.5316 91.5881C31.2134 92.0256 31.0543 92.5227 31.0543 93.0795C31.0543 93.5455 31.1651 93.946 31.3867 94.2812C31.614 94.6108 31.9038 94.8864 32.256 95.108C32.6083 95.3239 32.9776 95.5028 33.364 95.6449C33.7504 95.7812 34.1055 95.892 34.4293 95.9773L36.2021 96.4545C36.6566 96.5739 37.1623 96.7386 37.7191 96.9489C38.2816 97.1591 38.8185 97.446 39.3299 97.8097C39.8469 98.1676 40.2731 98.6278 40.6083 99.1903C40.9435 99.7528 41.1112 100.443 41.1112 101.261C41.1112 102.205 40.864 103.057 40.3697 103.818C39.881 104.58 39.1651 105.185 38.2219 105.634C37.2844 106.082 36.1452 106.307 34.8043 106.307C33.5543 106.307 32.4719 106.105 31.5572 105.702C30.6481 105.298 29.9322 104.736 29.4094 104.014C28.8924 103.293 28.5998 102.455 28.5316 101.5H30.7134C30.7702 102.159 30.9918 102.705 31.3782 103.136C31.7702 103.562 32.2646 103.881 32.8612 104.091C33.4634 104.295 34.1112 104.398 34.8043 104.398C35.6112 104.398 36.3356 104.267 36.9776 104.006C37.6197 103.739 38.1282 103.369 38.5032 102.898C38.8782 102.42 39.0657 101.864 39.0657 101.227C39.0657 100.648 38.9038 100.176 38.5799 99.8125C38.256 99.4489 37.8299 99.1534 37.3015 98.9261C36.7731 98.6989 36.2021 98.5 35.5884 98.3295L33.4407 97.7159C32.0771 97.3239 30.9975 96.7642 30.2021 96.0369C29.4066 95.3097 29.0089 94.358 29.0089 93.1818C29.0089 92.2045 29.2731 91.3523 29.8015 90.625C30.3356 89.892 31.0515 89.3239 31.9492 88.9205C32.8526 88.5114 33.8612 88.3068 34.9748 88.3068C36.0998 88.3068 37.0998 88.5085 37.9748 88.9119C38.8498 89.3097 39.543 89.8551 40.0543 90.5483C40.5714 91.2415 40.8441 92.0284 40.8725 92.9091H38.8271ZM49.6317 106.273C48.4499 106.273 47.413 105.991 46.521 105.429C45.6346 104.866 44.9414 104.08 44.4414 103.068C43.9471 102.057 43.6999 100.875 43.6999 99.5227C43.6999 98.1591 43.9471 96.9687 44.4414 95.9517C44.9414 94.9347 45.6346 94.1449 46.521 93.5824C47.413 93.0199 48.4499 92.7386 49.6317 92.7386C50.8136 92.7386 51.8477 93.0199 52.734 93.5824C53.6261 94.1449 54.3192 94.9347 54.8136 95.9517C55.3136 96.9687 55.5636 98.1591 55.5636 99.5227C55.5636 100.875 55.3136 102.057 54.8136 103.068C54.3192 104.08 53.6261 104.866 52.734 105.429C51.8477 105.991 50.8136 106.273 49.6317 106.273ZM49.6317 104.466C50.5295 104.466 51.2681 104.236 51.8477 103.776C52.4272 103.315 52.8562 102.71 53.1346 101.96C53.413 101.21 53.5522 100.398 53.5522 99.5227C53.5522 98.6477 53.413 97.8324 53.1346 97.0767C52.8562 96.321 52.4272 95.7102 51.8477 95.2443C51.2681 94.7784 50.5295 94.5455 49.6317 94.5455C48.734 94.5455 47.9954 94.7784 47.4158 95.2443C46.8363 95.7102 46.4073 96.321 46.1289 97.0767C45.8505 97.8324 45.7113 98.6477 45.7113 99.5227C45.7113 100.398 45.8505 101.21 46.1289 101.96C46.4073 102.71 46.8363 103.315 47.4158 103.776C47.9954 104.236 48.734 104.466 49.6317 104.466ZM63.9521 106.273C62.7702 106.273 61.7333 105.991 60.8413 105.429C59.9549 104.866 59.2617 104.08 58.7617 103.068C58.2674 102.057 58.0202 100.875 58.0202 99.5227C58.0202 98.1591 58.2674 96.9687 58.7617 95.9517C59.2617 94.9347 59.9549 94.1449 60.8413 93.5824C61.7333 93.0199 62.7702 92.7386 63.9521 92.7386C65.1339 92.7386 66.168 93.0199 67.0543 93.5824C67.9464 94.1449 68.6396 94.9347 69.1339 95.9517C69.6339 96.9687 69.8839 98.1591 69.8839 99.5227C69.8839 100.875 69.6339 102.057 69.1339 103.068C68.6396 104.08 67.9464 104.866 67.0543 105.429C66.168 105.991 65.1339 106.273 63.9521 106.273ZM63.9521 104.466C64.8498 104.466 65.5884 104.236 66.168 103.776C66.7475 103.315 67.1765 102.71 67.4549 101.96C67.7333 101.21 67.8725 100.398 67.8725 99.5227C67.8725 98.6477 67.7333 97.8324 67.4549 97.0767C67.1765 96.321 66.7475 95.7102 66.168 95.2443C65.5884 94.7784 64.8498 94.5455 63.9521 94.5455C63.0543 94.5455 62.3157 94.7784 61.7362 95.2443C61.1566 95.7102 60.7276 96.321 60.4492 97.0767C60.1708 97.8324 60.0316 98.6477 60.0316 99.5227C60.0316 100.398 60.1708 101.21 60.4492 101.96C60.7276 102.71 61.1566 103.315 61.7362 103.776C62.3157 104.236 63.0543 104.466 63.9521 104.466ZM74.9656 98.125V106H72.9542V92.9091H74.8974V94.9545H75.0678C75.3746 94.2898 75.8406 93.7557 76.4656 93.3523C77.0906 92.9432 77.8974 92.7386 78.886 92.7386C79.7724 92.7386 80.5479 92.9205 81.2127 93.2841C81.8775 93.642 82.3945 94.1875 82.7638 94.9205C83.1332 95.6477 83.3178 96.5682 83.3178 97.6818V106H81.3065V97.8182C81.3065 96.7898 81.0394 95.9886 80.5053 95.4148C79.9712 94.8352 79.2383 94.5455 78.3065 94.5455C77.6644 94.5455 77.0906 94.6847 76.5849 94.9631C76.0849 95.2415 75.69 95.6477 75.4002 96.1818C75.1104 96.7159 74.9656 97.3636 74.9656 98.125ZM89.6523 88.5455L89.4819 101.091H87.5046L87.3342 88.5455H89.6523ZM88.4933 106.136C88.0728 106.136 87.712 105.986 87.4109 105.685C87.1097 105.384 86.9592 105.023 86.9592 104.602C86.9592 104.182 87.1097 103.821 87.4109 103.52C87.712 103.219 88.0728 103.068 88.4933 103.068C88.9137 103.068 89.2745 103.219 89.5756 103.52C89.8768 103.821 90.0273 104.182 90.0273 104.602C90.0273 104.881 89.9563 105.136 89.8143 105.369C89.6779 105.602 89.4933 105.79 89.2603 105.932C89.033 106.068 88.7773 106.136 88.4933 106.136Z" fill="black"/>
                    <line x1="91.6068" y1="44.3089" x2="58.6068" y2="2.30891" stroke="black"/>
                    <line y1="-0.5" x2="53.4135" y2="-0.5" transform="matrix(0.617822 -0.786318 -0.786318 -0.617822 25 44)" stroke="black"/>
                    <circle cx="58.5" cy="2.5" r="2.5" fill="black"/>
            </svg>
                    
            <h2 class="image-title">{projectTitle}</h2>
            </a>
        </div>
</div>

<style define:vars={{ positionXstr, positionYstr }}>
    
    a {
        color: black;
        text-decoration: none;
    }
    
    .project-area {
        width: 100%;
        height: 100%;;
        z-index: 1;
    }

    .image-box {
        margin-left: var(--positionXstr);
        margin-top: var(--positionYstr);
        display: grid;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        z-index: 2;
    }

    .image-box:hover {
        .image-title {
            opacity: 1;
        }
    }

    .coming-soon-svg {
        padding: 20px 40px;
        z-index: 2;
        min-height: 140px;
        min-width: 110px;
        color: black;
        border: 2px solid black;

    }

    .image-title {
        text-align: center;
        opacity: 0;
        transition: 1s;
    }

    @media(max-width: 1200px) {
        .image-title {
            opacity: 1;
        }
    }

    @media (max-width: 750px) {
        .project-area {
            display: grid;
            justify-content: center;
            padding: 2rem 0rem;
        }
        .image-box {
            margin: 0;
        }
    }
</style>
