---

---

<ul class=hamburger-menu> 
    <li><a href="/about">About</a></li>
{/* <li class="projects"><a href="#">Projects</a></li>  */}
    <li><a href="/filmoprojector">Filmo</a></li>
    <li><a href="/severancecomputer">Lumon</a></li>
</ul>

<script type="text/Javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const hamburger = document.querySelector(".hamburger");
        const hamburgerMenu = document.querySelector(".hamburger-menu");
        const xIcon = document.querySelector(".x");

        hamburger.addEventListener("click", function () {
            if (hamburgerMenu.style.height){
                hamburgerMenu.style.height = null;
            } else {
                hamburgerMenu.style.height = "60px";
                hamburger.style.display = 'none';
                xIcon.style.display = 'block';
            }
        });
    
        xIcon.addEventListener("click", function () {
            hamburgerMenu.style.height = null;
            hamburger.style.display = 'block';
            xIcon.style.display = 'none';
        });
    });
</script>

<style>

    .hamburger-menu {
        position: relative;
        height: 0px;
        overflow: hidden;
        transition: height 0.2s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 0 0;
        margin: 0 0;
    }

    .hamburger-menu > a, li {
        max-height: 40px;
        list-style-type: none;
    }

    li {
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.375rem;
    }

    .submenu {
        position: absolute;
        top: 50px;
        padding-top: 1rem;
        padding-left: 1rem;
        z-index: 3;
        display: block;
        overflow: hidden;
        background-color: white;
        margin: 0;
    }

    .projects:hover .submenu {
        display: block;
    }

    .submenu > li:hover {
        text-decoration: underline;
    }

    .projects:hover {
        text-decoration: underline;
    }

    li:hover {
        text-decoration: underline;
    }

    @keyframes slideDown {
        100% {
            transform: translateY(70px)
        }
    }

    @keyframes slideUp {
        0% {
            transform: translateY(-120px)
        }
        100% {
            transform: translateY(0px)
        }
    }

</style>