---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { getCollection, getEntry, render,  } from 'astro:content';

interface Props {
    projectName: string;
    projectTitle: string;
    entrySection: string;
    imagePath: string;
    featuredImageAltText: string;
}

const { projectName, projectTitle, entrySection, imagePath, featuredImageAltText } = Astro.props;

const image = projectName;
const featuredImage = "/src/assets/ProjectImages/FeaturedImages/" + image + ".jpg";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/ProjectImages/FeaturedImages/*.{jpeg,jpg,png,gif}');
if (!images[featuredImage]) throw new Error(`"${featuredImage}" does not exist in glob: "src/assets/ProjectImages/FeaturedImages/*.{jpeg,jpg,png,gif}"`);

---

<div class="journal-summary">
    <div class="title-section">
        <div class="title-dashed-line"></div>
        <h1 class="project-title">{projectTitle}</h1>
    </div>

    <div class="journal-featured-image">
        <Image src={images[featuredImage]()} formats={['avif', 'webp']} alt={featuredImageAltText} inferSize: true/>
    </div>
</div>

<style>
   
    .project-title {
    padding: 2% 0 2rem 10px; 
    max-width: 24ch;
    }

    img {
        height: auto;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    }

  .journal-summary:before {
    content: '';
    position: absolute;
    top: 0px;
    height: 100%;
    margin-top: 4.5%;
    border-left: 4px solid black;
  }

   .journal-summary {
    position: relative;
    }

   .title-section {
        display: flex;
        min-height: 80px;
   }

   .title-dashed-line {
        margin-top: 4.5%;
        margin-left: 4px;
        border-top: 4px dashed black;   
        width: 35px;
        height: 4px;
        z-index: 1;
   }

    .journal-featured-image {
        max-height: 500px;
        display: flex;
    }
</style>