---
import type { CollectionKey } from 'astro:content';
import { getEntry, render } from 'astro:content';

interface Props {
    projectName: CollectionKey;
    entryID: string;
    entryTitle: string;
}

const { projectName, entryID, entryTitle } = Astro.props;

const entry = await getEntry(projectName, entryID) ;
if (!entry) {
  // Handle Error, for example:
  throw new Error('Could not find blog post');
}
const { Content } = await render(entry);
---

<div class="journal-entry">
    <div class="title-dashed-line"></div>
    <h1>{entryTitle}</h1>
    <div class="journal-entry-content">
          <Content />
    </div>
</div>

<style>
    .journal-entry {
        position: relative;
        padding-top: 40px;
        border: 1px solid black;
    }
    
    .title-dashed-line {
        position: absolute;
        top: 76px;
        border-top: 4px dashed black;   
        width: 35px;
        height: 4px;
   }

    h1 {
    padding-left: 40px;
    }
</style>