---

---

<div class="journal-entry">
    <div class="title-dashed-line"></div>
    <h1>2024.11.23 Research</h1>
</div>

<style>
    .journal-entry {
        position: relative;
        padding-top: 40px;
        border: 1px solid black;
    }
    
    .title-dashed-line {
        position: absolute;
        top: 76px;
        border-top: 4px dashed black;   
        width: 30px;
        height: 4px;
   }

    h1 {
    padding-left: 40px;
    }
</style>