---
import { getCollection, getEntry, render,  } from 'astro:content';

interface Props {
    projectTitle: string;
}

const { projectTitle } = Astro.props;

const image = projectTitle;
const featuredImage = "/src/assets/ProjectImages/" + image + "/featuredimage.jpg";

---

<div class="journal-summary">
    <div class="title-section">
        <div class="title-dashed-line"></div>
        <h1 class="project-title">{projectTitle}</h1>
    </div>

    <div class="journal-featured-image">
        <img src={featuredImage}>
    </div>
</div>

<style>
   
    .project-title {
    padding: 2% 0 2rem 10px;
    max-width: 24ch;
    }

    img {
        width: 100%;
        max-height: 500px;
    }

  .journal-summary:before {
    content: '';
    position: absolute;
    top: 0px;
    height: 100%;
    margin-top: 4.5%;
    border-left: 4px solid black;
  }

   .journal-summary {
    position: relative;
    }

   .title-section {
        display: flex;
        min-height: 80px;
   }

   .title-dashed-line {
        margin-top: 4.5%;
        margin-left: 4px;
        border-top: 4px dashed black;   
        width: 35px;
        height: 4px;
        z-index: 1;
   }

    .journal-featured-image {
        max-height: 500px;
        display: flex;
    }
</style>