---
import type { CollectionKey } from 'astro:content';
import { getEntry, render } from 'astro:content';

interface Props {
    projectName: CollectionKey;
    entryID: string;
    entryTitle: string;
    entrySection: string; 
}

const { projectName, entryID, entryTitle, entrySection } = Astro.props;

const entry = await getEntry(projectName, entryID) ;
if (!entry) {
  // Handle Error, for example:
  throw new Error('Could not find blog post');
}
const { Content } = await render(entry); 

---

    <a class="journal-anchor" id={entrySection}>
    <div class="journal-entry">
    <div class="title-section">
        <div class="title-dashed-line"></div>
        <h3>{entryTitle}</h3>
    </div>
    <div class="journal-entry-content">
          <Content />
    </div>
    </div>

<style>
    .journal-entry::before {
    content: '';
    position: absolute;
    top: 0px;
    height: 100%;
    border-left: 4px solid black;
    }
    
    .journal-entry {
        position: relative;
        padding-top: 50px;
    }

   .title-section {
        display: flex;
        align-items: center;
        min-height: 80px;
   }
    
    .title-dashed-line {
        top: 76px;
        margin-left: 4px;
        margin-right: 10px;
        border-top: 4px dashed black;
        width: 35px;
        height: 4px;
   }

    h1 {
    padding-left: 10px;
    }

    .journal-entry-content {
        display: grid;
        justify-content: center;
        padding: 0 2rem;
    }

    @media(max-width: 1250px) {
        .journal-entry {
            padding-top: 275px;
        }
    }
</style>