---

---

<div class="title-dashed-line"></div>

<h1>Bell & Howell Filmo S<br>16mm Projector Rebuild</h1>

<div class="journal-featured-image" style="border: 1px solid grey;">
    <img src="/src/assets/testfeaturedimage.jpg">
</div>

<style>
   .title-dashed-line {
        position: absolute; 
        top: 160px;
        border-top: 4px dashed black;   
        width: 30px;
        height: 4px;
   }
   
   h1 {
    padding-left: 40px;
   }
   
   img {
        max-height: 500px;
    }

    .journal-featured-image {
        align-items: center;
    }
</style>