---

---

<header>
    <div class="header-logo"><img src="/src/assets/astro.svg"></div>
    <nav class="journal-header-menu">
        <a href="/">Home</a></a>
        <a href="/about">About</a></a>
        <a href="https://instagram.com/bebopworkshop"><img src="src/assets/Insta Icon 1.svg"></a>
        <a href="https://instagram.com/bebopworkshop"><img src="src/assets/TikTok Icon 1.svg"></a>
    </nav>
</header>

<style>
    header { 
        display: flex;
        padding: 0px 225px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #000;
    }

    a {
        text-decoration: none;
    }

    .header-logo {
        border: 1px solid #000;
    }

    .journal-header-menu {
        display: flex;
        padding: 36px 20px;
        align-items: center;
        gap: 16px;
    }
</style>