---
import TableOfContents from '../components/TableOfContents.astro';
import ProjectJournal from '../components/ProjectJournal.astro';
import JournalSummary from '../components/JournalSummary.astro';
import JournalEntry from '../components/JournalEntry.astro';
import type { CollectionKey } from 'astro:content';

interface Props {
    projectName: CollectionKey;
    projectTitle: string;
}

const { projectName, projectTitle } = Astro.props;
---

<main>
    <div class="journal-hero"></div>
    <div class="journal-body">
        <TableOfContents projectName={projectName}/>
        <ProjectJournal projectName={projectName} projectTitle ={projectTitle} >
        </ProjectJournal>
        <div class="right-column"></div>
    </div>
</main>

<style>
    .journal-hero {
        padding-top: 4rem;
    }

    .journal-body {
        display: grid;
        grid-template-columns: 17.5fr 65fr 17.5fr;
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }

    @media(max-width: 1200px) {
        .journal-body {
            grid-template-columns: 1fr;
            max-width: 47.5rem;

        }
        .right-column {
        display: none;
        }
    }
</style>