---

---
<div class="table-of-contents">
        <ul class="table-of-contents-box">
            <li>Top</li>
            <li>Summary</li>
            <li>Inception</li>
            <li>Research</li>
            <li>Entry (I did X)</li>
            <li>Entry (I did Y)</li>
            <li>Conclusion</li>
        </ul>
</div>

<style>
    .table-of-contents {
        position: sticky;
        display: flex;
        padding: 200px 12px 300px 13px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
    }

    .table-of-contents-box {
        list-style-type: none;
        display: flex;
        padding: 15px 28px;
        flex-direction: column;
        text-align: right;
        border: 1px solid #000;
    }

    li {
        margin: .25rem 0;
    }
</style>