---
import type { CollectionKey } from 'astro:content';
import { getCollection, getEntry, render  } from 'astro:content';

interface Props {
    projectName: CollectionKey;
}

const { projectName } = Astro.props;
const projectCollection = await getCollection(projectName, ({ data }) => {
  return data.draft == true;
}) ;

---

<div class="table-of-contents">
        <ul class="table-of-contents-box">
            {projectCollection.map(post => (
              <li>{post.data.title}</li>
            ))}
        </ul>
</div>

<style>
    .table-of-contents {
        position: sticky;
        display: flex;
        padding: 200px 12px 300px 13px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
    }

    .table-of-contents-box {
        list-style-type: none;
        display: flex;
        max-width: 16ch;
        position: fixed;
        padding: 15px 28px;
        flex-direction: column;
        text-align: right;
        border: 1px solid #000;
    }

    li {
        text-decoration: none;
        text-color: black;
        margin: .25rem 0;
    }

    @media(max-width: 1200px) {
        .table-of-contents {
        display: none;
    }
    }
</style>